Ingestion/pipeline/Data Ingestion.json
{
	"name": "Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.cntrl_tbl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tbl_nm",
								"value": {
									"value": "@item().table_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetTableType",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tbl_type",
								"value": {
									"value": "@item().table_type",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetIncCol",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetTableType",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Inc_col",
								"value": {
									"value": "@item().incremental_col",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetIngestiondt",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetIncCol",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ing_dt",
								"value": {
									"value": "@item().ingestion_dt",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Filedt",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('tbl_type'), 'fullsync')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Inc_load_Qry",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "qry",
											"value": {
												"value": "@concat('Select * from ',variables('tbl_nm'), ' where ', variables('Inc_col'), ' = ', '''', variables('Ing_dt'), '''')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Fullload_qry",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "qry",
											"value": {
												"value": "@concat('Select * from ',variables('tbl_nm'))",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Condition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@variables('qry')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_AzureSqlTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Sink",
									"type": "DatasetReference",
									"parameters": {
										"Fldr_nm": {
											"value": "@variables('tbl_nm')",
											"type": "Expression"
										},
										"File_nm": {
											"value": "@concat(variables('tbl_nm'),'_',variables('File_dt'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get_Filedt",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetIngestiondt",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "File_dt",
								"value": {
									"value": "@formatDateTime(variables('Ing_dt'),'ddMMyyyy')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/lknovember2022@gmail.com/PVR_Project/1. Project _1 V01",
								"baseParameters": {
									"tablename": {
										"value": "@variables('tbl_nm')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Notebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateingestiondt]",
								"storedProcedureParameters": {
									"ingestiondt": {
										"value": {
											"value": "@variables('Ing_dt')",
											"type": "Expression"
										},
										"type": "String"
									},
									"tablename": {
										"value": {
											"value": "@variables('tbl_nm')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"tbl_nm": {
				"type": "String"
			},
			"tbl_type": {
				"type": "String"
			},
			"Inc_col": {
				"type": "String"
			},
			"Ing_dt": {
				"type": "String"
			},
			"qry": {
				"type": "String"
			},
			"File_dt": {
				"type": "String"
			}
		},
		"annotations": []
	}
}